:root {
  --light-blue: #04c3ff;
  --light-blue-shadow: rgb(69 211 255 / 27%);
  --sea-green: #0abead;
  --sea-green-dark: #0cbfae;
  --sea-green-extra-dark: #09bead;
  --sea-green-shadow: rgba(11, 190, 173, 0.4);
  --header-hamburger-background: rgba(11, 190, 173, 0.8);
  --orange: #f57f17;
  --dark-orange: #ff5823;
  --orange-shadow: rgba(245, 127, 23, 0.2);
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09bead7a;
  --error-message: #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow: #9c9c9ce3;
  --toast-success: #0cbfae;
  --loader-color: #0cbfae;
}
/* sky 950: #083344  dark color
orange 600 #ea580c*/
/* ming dark: 950  #1a2c32

*/
.dead {
  /* '50': '#f2f9f9', */
  color: #f2f9f9;
  /* '100': '#ddeff0', */
  color: #ddeff0;
  /* '200': '#bfe0e2',*/
  color: #bfe0e2;
  /* '300': '#92c9ce' */
  color: #92c9ce;
  /* '400': '#5fa9b1',*/
  color: #5fa9b1;
  /* '500': '#438e97', */
  color: #438e97;
  /* '600': '#3d7a85', */
  color: #3d7a85;
  /* '700': '#356069', */
  color: #356069;
  /* '800': '#325158', */
  color: #325158;
  /* '900': '#2d454c', */
  color: #2d454c;
  /* '950': '#1a2c32', */
  color: #1a2c32;
}
.dead1-2 {
}
.dead2 {
  /* '50': '#f7f1fc', */
  color: #f7f1fc;
  /* '100': '#eee5fa', */
  color: #eee5fa;
  /* '200': '#e2d0f5', */
  color: #e2d0f5;
  /* '300': '#d2b3ee', */
  color: #d2b3ee;
  /* '400': '#c495e4', */
  color: #c495e4;
  /* '500': '#ba7ada', */
  color: #ba7ada;
  /* '600': '#b060cb', */
  color: #b060cb;
  /* '700': '#9a50b2', */
  color: #9a50b2;
  /* '800': '#7d4390', */
  color: #7d4390;
  /* '900': '#643c73', */
  color: #643c73;
  /* '950': '#2c1a32', */
  color: #2c1a32;
}
